body{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #000839;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

    .Container{
        display: grid;
        grid-template-areas: "header"
                             "gameboard"
                             "footer";
        grid-template-rows: 100px 477px 80px;
    }

        .Header{
            grid-area: header;
            display: grid;
            justify-items: center;
            align-items: center;
        }
            .Header h1{
                margin: 0;
                justify-items: center;
            }
            .Easy{
                border: none;
                width: 120px;
                background-color: #a7e9af;
            }
            .Hard{
                border: none;
                width: 120px;
                background-color: #dd2c00;
            }
        .Gameboard{
            grid-area: gameboard;
            display: grid;
            grid-template-areas: "a b"
                                 "c d";
            grid-template-columns: repeat(4, 120px);
            justify-content: center;
            
        }
            .RedColor{
                grid-area: a;
                grid-column: 1 / 3;
                border: 1px solid white;
                border-top-left-radius: 400px;
                background-color: #eb4559;
            }
                .RedColor.ligth{
                    background-color: #ecb3ba;
                }
            .BlueColor{
                grid-area: b;
                grid-column: 3 / 5;
                border: 1px solid white;
                border-top-right-radius: 400px;
                background-color: #00bcd4;
            }
                .BlueColor.ligth{
                    background-color: #cbe7eb;
                }
            .GreenColor{
                grid-area: c;
                grid-column: 1 / 3;
                border: 1px solid white;
                border-bottom-left-radius: 400px;
                background-color: #21bf73;
            }
                .GreenColor.ligth{
                    background-color: #c7ebda;
                }
            .PurpleColor{
                grid-area: d;
                grid-column: 3 / 5;
                border: 1px solid white;
                border-bottom-right-radius: 400px;
                background-color: #be79df;
            }
                .PurpleColor.ligth{
                    background-color: #e1d7e6;
                }
            .Button_container{
                display: grid;
                grid-column: 2 / 4;
                grid-row: 1 / 3;
                align-items: center;
            }    
                .Button{
                    height: 80px;
                    border: none;
                    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.75);
                    font-family: 'Montserrat', sans-serif;
                    font-size: 25px;
                }
        .Footer{
            grid-area: footer;
            display: grid;
            grid-template: 1fr 1fr / 1fr 1fr;
            align-items: center;
            background-color: #363636;
        }
            .Footer p{
                grid-row: 1 / 3;
            }
            .Footer a{
                text-decoration: none;
                color: white;
            }
            .Icons{
                display: flex;
                justify-content: center;
                margin-top: 15px;
            }
                .Icons a{
                    margin-right: 20px;
                    color: white;
                    font-size: 20px;
                    padding: 10px;
                    border: 1px solid white;
                    border-radius: 30px;
                }

.hide{
    display: none;
}